<%- include('partials/header.ejs') %>

    <section class="about_pg">
        <div class="about_iv">

            <div class="principle_heading">
                <h2 class="heading_a">HAWK AI</h2>
                <h4 class="heading_b">Modern Restaurant Solution</h4>
            </div>

            <video autoplay loop muted plays-inline class="about_video">
                <source src="/videos/animated_logo.mp4" type="video/mp4">
            </video>

            <p class="para_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, enim illo dolor repellat veniam
                consequuntur beatae blanditiis sequi magni ipsam libero eos asperiores quo obcaecati minima. Ea nobis
                facere facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ullam recusandae
                alias totam, ratione atque enim inventore aperiam quasi quibusdam, dolores itaque, sapiente nisi.
                Voluptate cum praesentium fugiat voluptatem nobis!
                Natus sunt inventore praesentium dignissimos, repellendus tempora soluta quasi saepe. Dicta molestias
                aperiam culpa nam! Incidunt non ab pariatur tempora maiores aperiam commodi est, repudiandae tempore
            </p>
        </div>

        <div class="car_item">
            <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-label="Slide 1" aria-current="true"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                        class=""></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                        class=""></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/disabled 1.jpg" class="d-block w-20" alt="Slide 1">
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h1>Example headline.</h1>
                                <p class="opacity-75">Some representative placeholder content for the first slide of the
                                    carousel.</p>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/disabled 2.jpg" class="d-block w-20" alt="Slide 1">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Another example headline.</h1>
                                <p>Some representative placeholder content for the second slide of the carousel.</p>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/disabled 3.jpg" class="d-block w-20" alt="Slide 1">
                        <div class="container">
                            <div class="carousel-caption text-end">
                                <h1>One more for good measure.</h1>
                                <p>Some representative placeholder content for the third slide of this carousel.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
        </div>

        <div class="who">

            <h3 class="heading_c principle_heading">
                WHO ARE WE
            </h3>

            <img src="/images/vit_logo.svg" alt="Vellore Institute of Technology" class="vit">

            <p class="para_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga molestiae officia libero
                aperiam
                voluptates harum nihil, deserunt beatae unde placeat quia laudantium alias vel cum? Nam inventore
                dolorem odit atque?
                Veritatis mollitia architecto non enim totam? At aut nostrum, rerum explicabo fugiat magnam magni atque
                laudantium! Exercitationem mollitia, et, natus id aliquam labore temporibus eum corporis accusamus
                numquam nisi ab.
                Necessitatibus perspiciatis cupiditate a magnam temporibus, labore eaque consequuntur, culpa omnis velit
                maxime animi laudantium eligendi magni quas nihil laboriosam sint veritatis iusto quod eum soluta
                possimus! Numquam, eos architecto!
                Sunt facilis pariatur, ab voluptates tempore dolorem voluptatum assumenda amet quis voluptatem ipsa
                commodi repudiandae, corporis asperiores odio explicabo natus voluptatibus eveniet excepturi blanditiis
                nam corrupti? At assumenda et reiciendis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga
                iusto amet facilis, nisi molestiae modi. Est nisi impedit, nobis aut dolorem eum eligendi eius optio
                dolorum, consequuntur dolores, in nemo.
                Quidem asperiores minima possimus libero beatae. Repudiandae et minima iure est magnam reiciendis eum
                provident culpa officiis voluptatem temporibus dicta aliquid voluptates incidunt itaque consequatur
                autem, debitis laboriosam maxime facere?</p>
        </div>

        <div class="con_info">
            <p class="con_p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat quisquam doloremque illum
                distinctio
                facilis itaque voluptates sequi asperiores necessitatibus, tempore doloribus eum vel porro debitis
                quibusdam fugit beatae iusto soluta.
                Corporis deserunt explicabo laborum dignissimos odio maiores quas quod earum! Error repellat temporibus
                maxime doloribus, accusantium ut itaque commodi voluptatum rem dolores ipsum molestias consequatur
                expedita pariatur quae possimus. Deserunt?</p>

        </div>



    </section>

    <%- include('partials/footer.ejs') %>