<%- include('partials/header.ejs') %>

    <div class="menu_container allergies_main_page">

        <img src="/images/Camera Image.jpg" alt="">
        <div class="allergies_flex">
            <h4 class="allergies_q">ARE YOU ALLERGIC TO ANY INGREDIENTS IN PARTICULAR AND WANT TO AVOID THEM IN YOUR
                FOOD?</h4>

            <div class="allergies_flex_inner">
                <a href="/allergylist" class="allergies_main_button"> YES </a>
                <a href="/ordersummary" class="allergies_main_button"> SKIP</a>

            </div>

        </div>

    </div>

    <%- include('partials/footer.ejs') %>