<%- include('partials/header.ejs') %>

    <div class="end_main">
        <div class="end_sub">
            <h1>
                THANK YOU FOR USING HAWK AI SERVICES!!
            </h1>
            <h3>
                YOUR DELICIOUS ORDER WILL BE SERVED TO YOU SOON...
            </h3>
        </div>

    </div>


    <%- include('partials/footer.ejs') %>