<%- include('partials/header.ejs') %>

    <div class="contact_page">
        <div class="contact_elements">
            <h1 class="contact_main_text">DO CONNECT WITH US!</h1>

        </div>
        <div class="contact_mid">
            <h2 class="contact_sub_text">Meet our Dev team 😃</h2>
            <div class="con_elements">
                <div class="con_element_1">
                    <div class="p-4 rounded w-50 bg-secondary mb-5">
                        <div class="con_card_a">
                            <img src="/images/ashlin_canva.png" class="con_img">
                            <div class="con_card_b">
                                <div class="con_card_c">
                                    <h4 class="contact_name">ASHLIN JOEL SIZZIN</h4>
                                    <p class="contact_quote">B.Tech Undergrad at Vellore Institute of Technology</p>
                                    <div class="con_card_d">
                                        <div class="social">
                                            <img src="/images/linkedin.png" alt="">
                                            <a href="https://www.linkedin.com/in/ashlin-joel-a1884124b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                                class="con_link" target="_blank">LinkedIn</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/insta.png" alt="">
                                            <a href="https://www.instagram.com/ashlin.joel06?igsh=MmplNzFjdm5sMXVp"
                                                class="con_link" target="_blank">Instagram</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/facebook.png" alt="">
                                            <a href="#" class="con_link" target="_blank">Facebook</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/twitter.png" class="twitter" alt="">
                                            <a href="#" class="con_link" target="_blank">Twitter</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="con_element_2">
                    <div class="p-4 rounded w-100 bg-secondary mb-5">
                        <div class="con_card_a">
                            <img src="/images/archita.jpg" class="con_img">
                            <div class="con_card_b">
                                <div class="con_card_c">
                                    <h4 class="contact_name">ARCHITA SHARMA</h4>
                                    <p class="contact_quote">B.Tech Undergrad at Vellore Institute of Technology</p>
                                    <div class="con_card_d">
                                        <div class="social">
                                            <img src="/images/linkedin.png" alt="">
                                            <a href="https://www.linkedin.com/in/archita-sharma-911122235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                                class="con_link" target="_blank">LinkedIn</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/insta.png" alt="">
                                            <a href="https://www.instagram.com/architaa_77?igsh=eTFrZmNkdDQyanE3"
                                                class="con_link" target="_blank">Instagram</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/facebook.png" alt="">
                                            <a href="#" class="con_link" target="_blank">Facebook</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/twitter.png" class="twitter" alt="">
                                            <a href="#" class="con_link" target="_blank">Twitter</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="con_element_1">
                    <div class="p-4 rounded w-50 bg-secondary mb-5">
                        <div class="con_card_a">
                            <img src="/images/vansh.jpg" class="con_img">
                            <div class="con_card_b">
                                <div class="con_card_c">
                                    <h4 class="contact_name">VANSH HARKUT</h4>
                                    <p class="contact_quote">B.Tech Undergrad at Vellore Institute of Technology</p>
                                    <div class="con_card_d">
                                        <div class="social">
                                            <img src="/images/linkedin.png" alt="">
                                            <a href="https://www.linkedin.com/in/vansh-harkut-b21275235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                                class="con_link" target="_blank">LinkedIn</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/insta.png" alt="">
                                            <a href="https://www.instagram.com/vanshharkut?igsh=MW0yOGU1Zmxtcm12aA=="
                                                class="con_link" target="_blank">Instagram</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/facebook.png" alt="">
                                            <a href="#" class="con_link" target="_blank">Facebook</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/twitter.png" class="twitter" alt="">
                                            <a href="#" class="con_link" target="_blank">Twitter</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="con_element_2">
                    <div class="p-4 rounded w-100 bg-secondary mb-5">
                        <div class=" con_card_a">
                            <img src="/images/mansi.jpg" class="con_img">
                            <div class="con_card_b">
                                <div class="con_card_c">
                                    <h4 class="contact_name">MANSI SAXENA</h4>
                                    <p class="contact_quote">B.Tech Undergrad at Vellore Institute of Technology</p>
                                    <div class="con_card_d">
                                        <div class="social">
                                            <img src="/images/linkedin.png" alt="">
                                            <a href="https://www.linkedin.com/in/mansisaxena0904?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                                class="con_link" target="_blank">LinkedIn</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/insta.png" alt="">
                                            <a href="https://www.instagram.com/._mansiiii._?igsh=MTFqejdhZjM3amQ0Nw=="
                                                class="con_link" target="_blank">Instagram</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/facebook.png" alt="">
                                            <a href="#" class="con_link" target="_blank">Facebook</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/twitter.png" class="twitter" alt="">
                                            <a href="#" class="con_link" target="_blank">Twitter</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="con_element_1">
                    <div class="p-4 rounded w-50 bg-secondary mb-5">
                        <div class="con_card_a">
                            <img src="/images/arnav.jpg" class="con_img">
                            <div class="con_card_b">
                                <div class="con_card_c">
                                    <h4 class="contact_name">ARNAV GOENKA</h4>
                                    <p class="contact_quote">B.Tech Undergrad at Vellore Institute of Technology</p>
                                    <div class="con_card_d">
                                        <div class="social">
                                            <img src="/images/linkedin.png" alt="">
                                            <a href="https://www.linkedin.com/in/arnav-goenka-2b191421a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                                class="con_link" target="_blank">LinkedIn</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/insta.png" alt="">
                                            <a href="https://www.instagram.com/arnav_goenka?igsh=ZDNsa2Z1ZnA1MG45"
                                                class="con_link" target="_blank">Instagram</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/facebook.png" alt="">
                                            <a href="#" class="con_link" target="_blank">Facebook</a>
                                        </div>
                                        <div class="social">
                                            <img src="/images/twitter.png" class="twitter" alt="">
                                            <a href="#" class="con_link" target="_blank">Twitter</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <%- include('partials/footer.ejs') %>