<%- include('partials/header.ejs') %>

    <div class="page">
        <button class="cart_button" onclick="window.location.href='/viewcart'">
            <div>
                <% if (locals.cart_length){ %>
                    <h6 class="cart_list_number">
                        <%= cart_length %>
                    </h6>
                    <% } else { %>
                        <h6 class="cart_list_number">0</h6>
                        <% } %>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" fill="currentColor"
                class="bi bi-cart-fill cart_sym" viewBox="0 0 16 16">
                <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            VIEW CART
        </button>
        <div class="v_food_container">
            <div class="v_food_options">
                <img src="/images/Camera Image.jpg" alt="camera_image" class="v_fc">
                <div class="veg_starters_grid">
                    <div class="vstarterblock">
                        <img src="/images/chick_salad.jpg" alt="baby corn" class="food_img vstarter">
                        <h4 class="food_text">CHICKEN SALAD</h4>
                        <form class="button_row" action="/add/nvmain" method="post">
                            <% if (locals.clicked && item==="Chicken Salad" ) { %>
                                <button class="meal_button starters_button toggle-button" type="submit">Added</button>
                                <% } else { %>
                                    <input type="hidden" name="foodItem" value="Chicken Salad">
                                    <button class="meal_button starters_button" type="submit">
                                        Add to Cart
                                    </button>
                                    <% } %>

                        </form>
                    </div>
                    <div class="vstarterblock">
                        <img src="/images/chickbiryani.jpg" alt="baby corn" class="food_img vstarter">
                        <h4 class="food_text">CHICKEN BIRYANI</h4>
                        <form class="button_row" action="/add/nvmain" method="post">
                            <% if (locals.clicked && item==="Chicken Biryani" ) { %>
                                <button class="meal_button starters_button toggle-button" type="submit">Added</button>
                                <% } else { %>
                                    <input type="hidden" name="foodItem" value="Chicken Biryani">
                                    <button class="meal_button starters_button" type="submit">
                                        Add to Cart
                                    </button>
                                    <% } %>

                        </form>
                    </div>
                    <div class="vstarterblock">
                        <img src="/images/muttonbiryani.jpg" alt="baby corn" class="food_img vstarter">
                        <h4 class="food_text">MUTTON BIRYANI</h4>
                        <form class="button_row" action="/add/nvmain" method="post">
                            <% if (locals.clicked && item==="Mutton Biryani" ) { %>
                                <button class="meal_button starters_button toggle-button" type="submit">Added</button>
                                <% } else { %>
                                    <input type="hidden" name="foodItem" value="Mutton Biryani">
                                    <button class="meal_button starters_button" type="submit">
                                        Add to Cart
                                    </button>
                                    <% } %>

                        </form>
                    </div>
                    <div class="vstarterblock">
                        <img src="/images/chickbuttermasala.jpg" alt="baby corn" class="food_img vstarter">
                        <h4 class="food_text" id="chick_butter">CHICKEN BUTTER MASALA</h4>
                        <form class="button_row" action="/add/nvmain" method="post">
                            <% if (locals.clicked && item==="Chicken Butter Masala" ) { %>
                                <button class="meal_button starters_button toggle-button" type="submit">Added</button>
                                <% } else { %>
                                    <input type="hidden" name="foodItem" value="Chicken Butter Masala">
                                    <button class="meal_button starters_button" type="submit">
                                        Add to Cart
                                    </button>
                                    <% } %>

                        </form>
                    </div>
                    <div class="vstarterblock">
                        <img src="/images/naan.jpg" alt="baby corn" class="food_img vstarter">
                        <h4 class="food_text">NAAN</h4>
                        <form class="button_row" action="/add/nvmain" method="post">
                            <% if (locals.clicked && item==="Naan" ) { %>
                                <button class="meal_button starters_button toggle-button" type="submit">Added</button>
                                <% } else { %>
                                    <input type="hidden" name="foodItem" value="Naan">
                                    <button class="meal_button starters_button" type="submit">
                                        Add to Cart
                                    </button>
                                    <% } %>

                        </form>
                    </div>
                    <div class="vstarterblock">
                        <img src="/images/muttonroganghosh.jpg" alt="baby corn" class="food_img vstarter">
                        <h4 class="food_text">MUTTON ROGAN GHOSH</h4>
                        <form class="button_row" action="/add/nvmain" method="post">
                            <% if (locals.clicked && item==="Mutton Rogan Ghosh" ) { %>
                                <button class="meal_button starters_button toggle-button" type="submit">Added</button>
                                <% } else { %>
                                    <input type="hidden" name="foodItem" value="Mutton Rogan Ghosh">
                                    <button class="meal_button starters_button" type="submit">
                                        Add to Cart
                                    </button>
                                    <% } %>

                        </form>
                    </div>
                    <div class="vstarterblock">
                        <img src="/images/peperronipizza.jpg" alt="baby corn" class="food_img vstarter">
                        <h4 class="food_text">PEPPERONI PIZZA</h4>
                        <form class="button_row" action="/add/nvmain" method="post">
                            <% if (locals.clicked && item==="Pepperoni Pizza" ) { %>
                                <button class="meal_button starters_button toggle-button" type="submit">Added</button>
                                <% } else { %>
                                    <input type="hidden" name="foodItem" value="Pepperoni Pizza">
                                    <button class="meal_button starters_button" type="submit">
                                        Add to Cart
                                    </button>
                                    <% } %>

                        </form>
                    </div>
                    <div class="vstarterblock">
                        <img src="/images/pastachick.jpg" alt="baby corn" class="food_img vstarter">
                        <h4 class="food_text">CHICKEN PASTA</h4>
                        <form class="button_row" action="/add/nvmain" method="post">
                            <% if (locals.clicked && item==="Chicken Pasta" ) { %>
                                <button class="meal_button starters_button toggle-button" type="submit">Added</button>
                                <% } else { %>
                                    <input type="hidden" name="foodItem" value="Chicken Pasta">
                                    <button class="meal_button starters_button" type="submit">
                                        Add to Cart
                                    </button>
                                    <% } %>

                        </form>
                    </div>
                </div>

            </div>

        </div>
        <button class="go_back" type="button" onclick="window.location.href='/previous_nveg'">Previous
            Page</button>
    </div>
    </div>

    <%- include('partials/footer.ejs') %>