.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(84, 58, 91);
  margin-top: 40px;
  gap: 25px;
}

.meal_container {
  background-color: rgb(84, 58, 91);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 110px;
}

.inner_elements {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-top: 60px;
}

.meal_img {
  height: 250px;
  width: 300px;
  /* margin-right: 40px; */
}

.meal_img:hover {
  cursor: pointer;
}

.meal_button {
  text-decoration: none;
  background-color: #a79e9e;
  height: 45px;
  width: 180px;
  color: black;
  font-weight: bold;
  font-size: 17px;
  margin-top: 7px;
  margin-left: 60px;
}

.starters_button {
  width: 150px;
  margin-left: 70px;
}

.meal_button:hover {
  font-size: 19px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.meal_cam {
  height: 420px;
}

.go_back {
  align-self: baseline;
  margin-left: 100px;
  margin-top: 45px;
  height: 50px;
  width: 170px;
  font-size: 18px;
  font-weight: bold;
  background-color: #a79e9e;
}

.go_back:hover {
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
