.menu_container {
  height: 100vh;
  /* background-color: rgb(84, 58, 91); */
  background: linear-gradient(
      240deg,
      #68018d,
      #9500eb 20%,
      #ea00f6 40%,
      transparent
    ),
    url("../images/food_doodle_1.jpg");
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 42px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.menu_subcontainer {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  gap: 150px;
}

.buttons_div_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.buttons_division {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin-top: 55px;
}

.buttons_side {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.manual_button {
  height: 90px;
  width: 230px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: black;
  padding-top: 28px;
  background-color: #a79e9e;
  transition: all 0.5s;
}

.manual_button:hover {
  font-size: 28px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.manual_button:active {
  background-color: yellowgreen;
}

.place_button {
  margin-top: 50px;
}

.cam_img {
  height: 450px;
}
